#Square1 {
    position: absolute;
    left: 300px;
    top: 0px;
}
#Square2 {
    position: absolute;
    left: 500px;
    top: 0px;
}
#Square3 {
    position: absolute;
    left: 700px;
    top: 0px;
}
#Square4 {
    position: absolute;
    left: 300px;
    top: 200px;
}
#Square5 {
    position: absolute;
    left: 500px;
    top: 200px;
}
#Square6 {
    position: absolute;
    left: 700px;
    top: 200px;
}
#Square7 {
    position: absolute;
    left: 300px;
    top: 400px;
}
#Square8 {
    position: absolute;
    left: 500px;
    top: 400px;
}
#Square9 {
    position: absolute;
    left: 700px;
    top: 400px;
}