.header,
.sub-header {
    text-align: center;
}
.technology-types p {
    display: inline;
}
body {
    background-color: black;
    color: white;
}
canvas {
    display: block;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}
h2 {
    font-size: 35px;
    letter-spacing: 10px;
}
img {
    transform: scale(1.3, 1.3);
    -ms-transform: scale(1.3, 1.3);
    -webkit-transform: scale(1.3, 1.3);
}
.about,
.contact,
.projects {
    text-decoration: underline;
}
.textForSubheadingsHidden {
    text-align: center;
}
.toggle {
    display: none;
}
.innerText {
    background-color: #222222;
    color: white;
    letter-spacing: 6.4px;
    font-size: 20px;
    padding-left: 10px;
}
p {
    font-size: 22px;
}
