/* Layers refers to how far down the div chain each item is */
.Layer0Body{
  background-color:#cccccc;
  margin:0;
}

.Layer1Header{
  margin:0 auto;
  background-color: white;
}


.Layer2Header_Logo {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
  
}

.Layer2Header_Filler{
  display:inline-block;
  }

.Layer3Header_Searchbar{
  position:absolute;
  top:0px;
  right:0px;
  margin:4px;
  border-radius:2rem;
  width:150px;
  height:50px;
  background-color: #f1f1f1;
}

.Layer1_Navbar{
  background-color: #eaeaea;
   
}
.Layer1_Navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
    justify-content:center;
}

.Layer1_Navbar ul li a {
   font-size:2rem;
   text-decoration:none;
   justify-content:center;
}

.Layer1_Navbar li {
    display: inline;
    margin-left:3%;
    margin-right:9%;
}

.Layer2_Sidebar{
  margin-top:1.4rem;
  width:12%;
  background-color: #f9f9f9;
  display:inline;
  float:left;
  border-radius:2rem;
}

.Layer2_InfoText1{
  background-color: white;
  border-radius:2rem;
  margin-top:15px;
  width:99%;
  border: 0.4rem solid black;
}

.Layer1_Navbar li a:hover {
    background-color: #adbfbf;
    color: white;
}

.Layer2_InfoText1 h1 {
  margin:1.3rem;
}

.Layer2_InfoText1 p {
 margin:1rem;
 font-size: 2rem;
  line-height: 3.5rem;
}

.infoholder{
  margin:10px;
}

.BodyFont{
  font-family: 'Lato', sans-serif;
  line-height:1.5rem;
}

.HeadingFont{
    font-family: 'Shrikhand';
    font-kerning:none;
  /*Blending*/
    color:rgba(0,0,0,0.7);
}
