/* Layers refers to how far down the div chain each item is */
.Layer0Body{
  background-color:#cccccc;
  margin:0;
}

.Layer1Header{
  width:100%;
  margin:0 auto;
  background-color: white;
  display:block;
}


.Layer2Header_Logo {
  margin:10px 10px 20px 40px;
  padding-right:40%;
  padding-top:5px;
  padding-bottom:5px;
  display:inline-block;
  
}

.Layer2Header_Filler{
  display:inline-block;
  }

.Layer3Header_Searchbar{
  position:absolute;
  top:0px;
  right:0px;
  margin:4px;
  border-radius:2rem;
  width:150px;
  height:50px;
  background-color: #f1f1f1;
}

.Layer1_Navbar{
  display:block;
  width:100%;
  margin:0 auto;
  background-color: #eaeaea;
   
}
.Layer1_Navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
    justify-content:center;
}

.Layer1_Navbar ul li a {
   font-size:2rem;
   text-decoration:none;
   justify-content:center;
}

.Layer1_Navbar li {
    display: inline;
    margin-left:3%;
    margin-right:9%;
}

.Layer2_Sidebar{
  margin-top:1.4rem;
  width:12%;
  background-color: #f9f9f9;
  display:inline;
  float:left;
  border-radius:2rem;
}

.Layer2_InfoText1{
  background-color: white;
  display:inline-block;
  border-radius:2rem;
  margin-top:15px;
  border: 0.4rem solid black;
}

.Layer1_Navbar li a:hover {
    background-color: #adbfbf;
    color: white;
}

.Layer2_InfoText1 h1 {
  margin:1.3rem;
}

.Layer2_InfoText1 p {
 margin:1rem;
 font-size: 2rem;
  line-height: 3.5rem;
}



.infoholder{
  float:right;
  display:inline;
  width:85%;
  margin:10px;
}

.Layer2_Sidebar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Layer2_Sidebar li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.Layer2_Sidebar li a:hover {
    background-color: #adbfbf;
    color: white;
}

/* Make the first and last items on the sidebar have rounded corners when highlighted*/
body > div.Layer2_Sidebar > ul > li:nth-child(1) > a{
  -webkit-border-radius: 2rem 2rem 0px 0px;
}

body > div.Layer2_Sidebar > ul > li:nth-child(5) > a{
  -webkit-border-radius: 0px 0px 2rem 2rem;
}

/* Heading and body text styling rules */
.BodyFont{
  font-family: 'Lato', sans-serif;
  line-height:1.5rem;
  word-break:break-word;
}

.HeadingFont{
    font-family: 'Shrikhand';
    font-kerning:none;
    color:rgba(0,0,0,0.7);
     word-break:break-word;

}


/* Why does position:absolute; work for making the textboxes the correct way? Is this an okay way of doing things? */


/* Plans (Maybe, if it works, try atleast.) */

/* Better head tags -> "2017 Head Tag" */
/* Organize CSS Gestaltly and Clean Codely, turn this into a habit not an afterthough */
/* Pagination on the bottom */
/* Dropdowns on Navbar */
/* To make responsive remove navbar, replace with slideout, and adjust font parameters */
/* Review and compare things in your "I want to learn this" and "Design Inspiration" Bookmarks i.e. Responsive */
/* Apply/Review Fitts's Law */
/* Apply/Review Getstalts Laws */
/* Check Apple Design guidelines for mobile */
/* Add searchbar with API */
/* Typical blog stuff i.e. comments, video/picture adability for text boxes */
/* Stress test textboxes */
/* AJAX Responsive for other pages (Only reload textboxes)*/
/* HTML5 Semanticanize/Other HTML5 stuff */

